In [ ]:
#import libraries
from bs4 import BeautifulSoup
import requests
import time
import datetime

In [ ]:
#connect to website
url = 'https://www.amazon.ca/Funny-Systems-Business-Analyst-T-Shirt/dp/B0B63BYBQB/ref=sr_1_5?crid=TU9YSSFVIO92&dib=eyJ2IjoiMSJ9.ucnt8QEaMWr5cty3CnB1lk556i8RHW_3j2tEK4vtyrTTzd0XKtuCcQTsCtsMtXPjCbpNV7y7UmFkz0vlCJbZiGsZ6h2BMGwc7dq8-Pi-6xrJ_Zoq03cYFdxQimC9lI7M8Z4uenTKIwIPCaZ5F15e_zP_fWTF0nNtwS69NKZod5MIaq2Ovx1nxnzvW8JMs5N4Y3W_qXbGgGbRDauMKGgWFXecc5_O8QpVEj4zOhGvl-sboTGdAeRkBLnWdHHmLMIkv03WDY7ZJqbPoZZcP2sg9KdyXdN8OJ6wjjk98qHW53g.RkOHkx7xFjdLaAf5rRcqjr7KIvuMEhGeAqHoxctssqQ&dib_tag=se&keywords=data+analyst+tshirt&qid=1729790374&s=fashion&sprefix=data+analyst+tshirt%2Cfashion%2C167&sr=1-5'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36","Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7", 
    "Accept-Encoding": "gzip, deflate, br, zstd","Accept-Language": "en-US,en;q=0.9","Upgrade-Insecure-Requests": "1"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, 'html.parser')

soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

title = soup2.find(id='productTitle').get_text()
price = soup2.find(class_='aok-offscreen').get_text()

print(title)
print(price)

In [ ]:
price = price.strip()[1:]

In [ ]:
title = title .strip()
today = datetime.date.today()
#print(today)

In [ ]:
import csv

header = ['Title', ' Price', 'date']
data = [title, price, today]

#with open('AmazonWebScraperDataset.csv', 'w' , newline='', encoding='UTF8') as f:
    #writer = csv.writer(f)
    #writer.writerow(header)
    #writer.writerow(data)

In [130]:
import pandas as pd

df = pd.read_csv(r'C:\Users\patel\AmazonWebScraperDataset.csv')
df

                                                Title   Price        date
0   Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
1   Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
2   Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
3   Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
4   Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
..                                                ...     ...         ...
60  Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
61  Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
62  Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
63  Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24
64  Funny Got Data Mis Data Systems Business Analy...   25.99  2024-10-24

[65 rows x 3 columns]

In [ ]:
#now appending data to the csv

with open('AmazonWebScraperDataset.csv', 'a+' , newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [ ]:
#run in background everyday to automate

def check_price():
        url = 'https://www.amazon.ca/Funny-Systems-Business-Analyst-T-Shirt/dp/B0B63BYBQB/ref=sr_1_5?crid=TU9YSSFVIO92&dib=eyJ2IjoiMSJ9.ucnt8QEaMWr5cty3CnB1lk556i8RHW_3j2tEK4vtyrTTzd0XKtuCcQTsCtsMtXPjCbpNV7y7UmFkz0vlCJbZiGsZ6h2BMGwc7dq8-Pi-6xrJ_Zoq03cYFdxQimC9lI7M8Z4uenTKIwIPCaZ5F15e_zP_fWTF0nNtwS69NKZod5MIaq2Ovx1nxnzvW8JMs5N4Y3W_qXbGgGbRDauMKGgWFXecc5_O8QpVEj4zOhGvl-sboTGdAeRkBLnWdHHmLMIkv03WDY7ZJqbPoZZcP2sg9KdyXdN8OJ6wjjk98qHW53g.RkOHkx7xFjdLaAf5rRcqjr7KIvuMEhGeAqHoxctssqQ&dib_tag=se&keywords=data+analyst+tshirt&qid=1729790374&s=fashion&sprefix=data+analyst+tshirt%2Cfashion%2C167&sr=1-5'
        
        headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36","Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7", 
            "Accept-Encoding": "gzip, deflate, br, zstd","Accept-Language": "en-US,en;q=0.9","Upgrade-Insecure-Requests": "1"}
        
        page = requests.get(url, headers=headers)
        
        soup1 = BeautifulSoup(page.content, 'html.parser')
        
        soup2 = BeautifulSoup(soup1.prettify(),'html.parser')
        
        title = soup2.find(id='productTitle').get_text()
        price = soup2.find(class_='aok-offscreen').get_text()
    
        price = price.strip()[1:]
        title = title .strip()

        import datetime 
    
        today = datetime.date.today()

        import csv

        header = ['Title', ' Price', 'date']
        data = [title, price, today]

        with open('AmazonWebScraperDataset.csv', 'a+' , newline='', encoding='UTF8') as f:
            writer = csv.writer(f)
            writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [ ]:
import pandas as pd

df = pd.read_csv(r'C:\Users\patel\AmazonWebScraperDataset.csv')
df